@import '../../../styles/colors';

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;

  &.dark {
    background-color: $dark-background;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 80px;

  background-color: whitesmoke;
  border-bottom: 1px solid $input-border-color;

  &.dark {
    background-color: $dark-background;
  }

  text-decoration: none;
  color: black;

  &.selected {
    border: none;
    border-radius: 5px;
    border: 1px solid $input-border-color;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    cursor: auto;

    &.dark {
      background-color: $dark-background;
      border-color: whitesmoke;
    }

    &:first-child {
      border-left: none;
      border-top-left-radius: 0;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: 0;
    }
  }
}
