.main-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  width: 100%;

  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
