.message-root-wrapper {
  display: flex;
  justify-content: flex-start;

  &.current-user-position {
    justify-content: flex-end;
  }

  .message-wrapper {
    margin: 10px 0;
    display: inline-block;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .user-name {
      font-weight: bold;
    }

    .date {
      color: gainsboro;
    }

    .content {
      margin: 5px 0 10px 0;
      padding: 15px;
      background-color: gainsboro;
      border-radius: 10px;
    }
  }
}
