@import '../../../styles/colors';

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;

  @media screen and (max-width: 480px) {
    height: 75vh;
  }

  background-color: white;

  &.dark {
    background-color: $dark-background;
  }

  .text-input-wrapper {
    text-align: center;
    padding: 25px;
  }
}
