.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90vh;

  background-color: white;

  .messages {
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 25px;
  }

  .text-input-wrapper {
    text-align: center;
    padding: 25px;
  }
}
