.message-root-wrapper {
  display: flex;
  justify-content: flex-start;

  .edit-panel {
    display: none;
  }

  .edit-panel-active {
    display: block;
  }

  .edit-text-input {
    font-size: 16px;
    margin-top: 5px;
  }

  &:hover {
    .edit-panel {
      display: block;
    }
  }

  &.current-user-message {
    justify-content: flex-end;
    cursor: pointer;
  }

  .message-wrapper {
    margin: 10px 0 5px 0;
    display: inline-block;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .user-name {
      font-weight: bold;
    }

    .date {
      color: gainsboro;
      font-size: 12px;
      margin-left: 10px;
    }

    .content {
      margin: 5px 0 10px 0;
      padding: 15px;
      background-color: aliceblue;
      border-radius: 10px;

      &.dark {
        background-color: cadetblue;
      }

      &.current-user-message {
        background-color: peachpuff;

        &.dark {
          background-color: brown;
        }
      }

      &.deleted {
        background-color: whitesmoke;
        font-style: italic;
      }

      .edited {
        font-size: 12px;
        color: #888888;
        font-style: italic;
      }
    }
  }
}
